* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 14pt;
}

button {            
    cursor: pointer;
}

header {
    background-color: rgb(87, 153, 189);

}

.logoTodo-App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

.logo {
    width: 3em;
    border-radius: 15px;
    background-color: white;
    fill: rgb(87, 153, 189);
}

.slogan {
    margin-top: 10px;
    color: white;
    font-size: medium;
}

.slogan > span {
    font-weight: bold;
    font-size: larger;
}


.createTaskHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.inputTask {
    border:4px solid rgb(211, 211, 211);
    border-radius: 8px;
    border: solid 1px rgb(94, 132, 163);
    width: 90%;
    padding: 8px;
}

.inputTaskBtn {
    margin-top: 8px;
    background-color: rgb(117, 170, 117);
    font-weight: bold;
    color: darkgreen;
    border-radius: 8px;
    padding: 8px;
    width: auto;
}

.taskHolder {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.taskHolder h2 {
    color: rgb(87, 153, 189);
}

.tasks {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 100%;
    justify-content: center;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 220, 230);
    border-radius: 8px;
    padding: 10px;
    margin: 5px 15px;
    width: auto;
}

.task p {
    overflow-wrap: break-word;
    width: 50%;
    margin-left: 8px;
}

.removeTaskBtn {
    background-color: rgb(220, 134, 134);
    color: rgb(220, 2, 2);
    font-weight: bold;
    border-radius: 4px;
    padding: 4px;
    margin-right: 4px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 64px;
    bottom: 0px;
    color: white;
    background-color: rgb(87, 153, 189);
}

footer > p {
    font-size: small;
}

footer a {
    text-decoration: none;
    font-size: medium;
    color: #fff;
}

footer > p > a:hover {
    color: rgb(4, 56, 168);
}

footer > a:visited {
    color: #fff;
}

/*Responsividade*/
@media screen and (min-width: 768px) {
    .logoTodo-App {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .slogan {
        margin-left: 10px;
    }

    .createTaskHolder {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .inputTask {
        height: 100%;
        padding: 3px;
        border-radius: 0px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        border: solid 2px rgb(117, 170, 117);
    }

    .inputTaskBtn {
        height: 100%;
        padding: 5px;
        margin-top: 0px;
        background-color: rgb(117, 170, 117);
        font-weight: bold;
        color: darkgreen;
        border-bottom: darkgreen 0px solid;
        border-radius: 0px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
    }

    .taskHolder {
        align-items: flex-start;
    }

    .taskHolder > h2 {
        padding: 20px;
    }

    .tasks {
        justify-content: flex-start;
        width: 80%;
    }
}